<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xueyi.exam.mapper.QuestionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xueyi.exam.beans.Question">
        <id column="id" property="id" />
        <result column="page_id" property="pageId" />
        <result column="is_single" property="isSingle" />
        <result column="question_title" property="questionTitle" />
        <result column="question_choice_1" property="questionChoice1" />
        <result column="question_choice_2" property="questionChoice2" />
        <result column="question_choice_3" property="questionChoice3" />
        <result column="question_choice_4" property="questionChoice4" />
        <result column="question_choice_5" property="questionChoice5" />
        <result column="question_choice_6" property="questionChoice6" />
        <result column="question_answer" property="questionAnswer" />
        <result column="question_score" property="questionScore" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, page_id, is_single, question_title, question_choice_1, question_choice_2, question_choice_3, question_choice_4, question_choice_5, question_choice_6, question_answer, question_score
    </sql>

</mapper>
