<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>考试平台</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="./static/css/font.css">
  <link rel="stylesheet" href="./static/css/weadmin.css">


</head>

<body style="background-image:url('static/images/welcome.jpeg') ">
  <div class="weadmin-body">
    <blockquote class="layui-elem-quote">欢迎使用考试平台</blockquote>
  </div>
</body>
<script type="text/javascript" src="./lib/layui/layui.js" charset="utf-8"></script>
</html>